node_modules
.dockerignore
.eslintignore
.eslintrc
.gitignore
.prettierignore
.prettierrc
Dockerfile
Dockerfile.dev
.editorconfig

.czrc
.env*
license.txt
exports
*.cache
build
dist
.strapi-updater.json
.strapi
data/*

README.md